In [1]:
import pandas as pd
import numpy as np

In [2]:
!git config --global user.email "harshitrana672@gmail.com"
!git config --global user.name "Harshit Rana"

In [3]:
!git clone https://github.com/harshitrana672/Exploratory_Data_Analysis.git

Cloning into 'Exploratory_Data_Analysis'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 13 (delta 3), reused 3 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (13/13), 1.34 MiB | 13.27 MiB/s, done.
Resolving deltas: 100% (3/3), done.

In [4]:
import os
print(os.getcwd())

/content

In [5]:
%cd /content/Exploratory_Data_Analysis

/content/Exploratory_Data_Analysis

In [7]:
df=pd.read_csv("netflix_titles.csv")

In [ ]:
!mv /content/drive/MyDrive/Colab Notebooks/NetflixAnalysis.ipynb /content/Exploratory_Data_Analysis/

mv: cannot stat '/content/drive/MyDrive/Colab': No such file or directory
mv: cannot stat 'Notebooks/NetflixAnalysis.ipynb': No such file or directory

In [8]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [10]:
df.shape
df.describe()
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [13]:
df=df.fillna({'director':'Unknown','cast':'Unknown','country':'unknown','date_added':np.nan,'duration':np.nan})

In [14]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [16]:
df.iloc[1441]

show_id                                                     s1442
type                                                        Movie
title                                               Hello Brother
director                                              Sohail Khan
cast            Salman Khan, Arbaaz Khan, Rani Mukerji, Johny ...
country                                                     India
date_added                                        January 4, 2021
release_year                                                 1999
rating                                                      TV-14
duration                                                  126 min
listed_in       Action & Adventure, Comedies, International Mo...
description     After receiving a heart transplant from a murd...
Name: 1441, dtype: object

In [17]:
print(df['date_added'].unique())

['September 25, 2021' 'September 24, 2021' 'September 23, 2021' ...
 'December 6, 2018' 'March 9, 2016' 'January 11, 2020']

In [20]:
import pandas as pd
import re

# Example pattern: Full month name, space, 1-2 digit day, comma, space, 4-digit year
pattern = r'^[A-Za-z]+ \d{1,2}, \d{4}$'

# Create a boolean column to indicate whether each value matches the expected format
df['matches_expected_format'] = df['date_added'].str.match(pattern).fillna(False)

anomalies = df[~df['matches_expected_format']]

/tmp/ipython-input-20-1499906751.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['matches_expected_format'] = df['date_added'].str.match(pattern).fillna(False)

In [28]:
pd.set_option('display.max_rows', 50)

In [30]:
print(anomalies['date_added'].head(50))

6066                   NaN
6079        August 4, 2017
6174                   NaN
6177     December 23, 2018
6213     December 15, 2018
6279          July 1, 2017
6304         July 26, 2019
6318          May 26, 2016
6357      November 1, 2019
6361      December 2, 2017
6368        March 15, 2019
6393       October 1, 2019
6451     December 15, 2017
6456          July 1, 2017
6457        August 4, 2017
6460         April 4, 2017
6519     December 28, 2016
6549        March 31, 2018
6560      February 1, 2019
6603       January 1, 2018
6671          July 1, 2017
6678     February 24, 2018
6742        March 31, 2018
6763     December 14, 2018
6766         July 20, 2018
6795                   NaN
6803      January 17, 2018
6806                   NaN
6822     September 7, 2016
6868      October 31, 2018
6871       August 21, 2017
6885       October 8, 2013
6890      November 1, 2017
6894      December 1, 2018
6901                   NaN
6922        March 16, 2016
6935     December 15, 2015
6941     September 8, 2015
6955          May 28, 2016
6969      December 3, 2019
6970      November 1, 2016
7029       January 1, 2018
7148      November 3, 2015
7196                   NaN
7217      December 1, 2019
7254                   NaN
7287      February 1, 2019
7307       October 1, 2019
7331           May 1, 2018
7342        April 17, 2016
Name: date_added, dtype: object

In [32]:
df['date_added'].head(10)

0    September 25, 2021
1    September 24, 2021
2    September 24, 2021
3    September 24, 2021
4    September 24, 2021
5    September 24, 2021
6    September 24, 2021
7    September 24, 2021
8    September 24, 2021
9    September 24, 2021
Name: date_added, dtype: object

In [33]:
# Replace 2+ spaces *after the comma* with a single space
df['date_added_clean'] = df['date_added'].str.replace(r',\s{2,}', ', ', regex=True)

In [42]:
df = df.drop('matches_expected_format', axis=1)

In [43]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [44]:
import pandas as pd
import re

# Clean the column
def clean_date_string(s):
    if pd.isna(s):
        return s
    # Remove multiple spaces after comma
    s = re.sub(r',\s{2,}', ', ', s)
    # Normalize all whitespace to single space
    s = re.sub(r'\s+', ' ', s)
    return s.strip()

df['date_added_clean'] = df['date_added'].apply(clean_date_string)

In [45]:
import pandas as pd
import re

# Example pattern: Full month name, space, 1-2 digit day, comma, space, 4-digit year
pattern = r'^[A-Za-z]+ \d{1,2}, \d{4}$'

# Create a boolean column to indicate whether each value matches the expected format
df['matches_expected_format'] = df['date_added_clean'].str.match(pattern).fillna(False)

anomalies = df[~df['matches_expected_format']]

/tmp/ipython-input-45-2527911474.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['matches_expected_format'] = df['date_added_clean'].str.match(pattern).fillna(False)

In [48]:
print(anomalies.count())

show_id                    10
type                       10
title                      10
director                   10
cast                       10
country                    10
date_added                  0
release_year               10
rating                     10
duration                   10
listed_in                  10
description                10
date_added_clean            0
matches_expected_format    10
dtype: int64

In [23]:
df.iloc[6066]

show_id                                                                s6067
type                                                                 TV Show
title                            A Young Doctor's Notebook and Other Stories
director                                                             Unknown
cast                       Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
country                                                       United Kingdom
date_added                                                               NaN
release_year                                                            2013
rating                                                                 TV-MA
duration                                                           2 Seasons
listed_in                           British TV Shows, TV Comedies, TV Dramas
description                Set during the Russian Revolution, this comic ...
matches_expected_format                                                False
Name: 6066, dtype: object

In [49]:
df['date_added'] = pd.to_datetime(df['date_added_clean'], format='%B %d, %Y', errors='coerce')

In [60]:
df=df.drop('matches_expected_format',axis=1)

In [61]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [62]:
import seaborn as sns
import matplotlib.pyplot as plt