In [1]:
import pandas as pd
import numpy as np

In [2]:
!git config --global user.email "harshitrana672@gmail.com"
!git config --global user.name "Harshit Rana"

In [3]:
!git clone https://github.com/harshitrana672/Exploratory_Data_Analysis.git

Cloning into 'Exploratory_Data_Analysis'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 7 (delta 0), reused 4 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (7/7), 1.32 MiB | 20.53 MiB/s, done.

In [4]:
import os
print(os.getcwd())

/content

In [5]:
%cd /content/Exploratory_Data_Analysis

/content/Exploratory_Data_Analysis

In [6]:
df=pd.read_csv("netflix_titles.csv")

In [ ]:
!mv /content/drive/MyDrive/Colab Notebooks/NetflixAnalysis.ipynb /content/Exploratory_Data_Analysis/

mv: cannot stat '/content/drive/MyDrive/Colab': No such file or directory
mv: cannot stat 'Notebooks/NetflixAnalysis.ipynb': No such file or directory

In [7]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [11]:
df.shape
df.describe()
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [18]:
df=df.fillna({'director':'Unknown','cast':'Unknown','country':'unknown','date_added':np.nan,'duration':np.nan})

In [19]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [21]:
df.iloc[1442]

show_id                                                     s1443
type                                                      TV Show
title                                  Korean Pork Belly Rhapsody
director                                                  Unknown
cast                                                Paik Jong-won
country                                                   unknown
date_added                                        January 4, 2021
release_year                                                 2020
rating                                                       TV-G
duration                                                 1 Season
listed_in                      Docuseries, International TV Shows
description     A love letter to pork belly — a perennial favo...
Name: 1442, dtype: object

In [ ]:
df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y', errors='coerce')

In [24]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [25]:
# Find rows where coercion failed (i.e., invalid dates → NaT)
invalid_date_rows = df[df['date_added'].isna()]

print(invalid_date_rows)

     show_id     type                                        title  \
6066   s6067  TV Show  A Young Doctor's Notebook and Other Stories
6079   s6080  TV Show                              Abnormal Summit
6174   s6175  TV Show              Anthony Bourdain: Parts Unknown
6177   s6178  TV Show                                     忍者ハットリくん
6213   s6214  TV Show                                Bad Education
...      ...      ...                                          ...
8539   s8540  TV Show                                   The Tudors
8557   s8558  TV Show                                The West Wing
8684   s8685  TV Show                                      Vroomiz
8712   s8713  TV Show                   Weird Wonders of the World
8755   s8756  TV Show                            Women Behind Bars

                     director  \
6066                  Unknown
6079  Jung-ah Im, Seung-uk Jo
6174                  Unknown
6177                  Unknown
6213                  Unknown
...                       ...
8539                  Unknown
8557                  Unknown
8684                  Unknown
8712                  Unknown
8755                  Unknown

                                                   cast  \
6066  Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
6079           Hyun-moo Jun, Si-kyung Sung, Se-yoon Yoo
6174                                   Anthony Bourdain
6177                                            Unknown
6213  Jack Whitehall, Mathew Horne, Sarah Solemani, ...
...                                                 ...
8539  Jonathan Rhys Meyers, Henry Cavill, James Frai...
8557  Martin Sheen, Rob Lowe, Allison Janney, John S...
8684  Joon-seok Song, Jeong-hwa Yang, Sang-hyun Um, ...
8712                                      Chris Packham
8755                                            Unknown

                                             country date_added  release_year  \
6066                                  United Kingdom        NaT          2013
6079                                     South Korea        NaT          2017
6174                                   United States        NaT          2018
6177                                           Japan        NaT          2012
6213                                  United Kingdom        NaT          2014
...                                              ...        ...           ...
8539  Ireland, Canada, United States, United Kingdom        NaT          2010
8557                                   United States        NaT          2005
8684                                     South Korea        NaT          2016
8712                                  United Kingdom        NaT          2016
8755                                   United States        NaT          2010

     rating   duration                                          listed_in  \
6066  TV-MA  2 Seasons           British TV Shows, TV Comedies, TV Dramas
6079  TV-PG  2 Seasons  International TV Shows, Korean TV Shows, Stand...
6174  TV-PG  5 Seasons                                         Docuseries
6177  TV-Y7  2 Seasons                             Anime Series, Kids' TV
6213  TV-MA  3 Seasons                      British TV Shows, TV Comedies
...     ...        ...                                                ...
8539  TV-MA  4 Seasons                                          TV Dramas
8557  TV-14  7 Seasons                                          TV Dramas
8684   TV-Y  3 Seasons                          Kids' TV, Korean TV Shows
8712  TV-PG  2 Seasons  British TV Shows, Docuseries, Science & Nature TV
8755  TV-14  3 Seasons                         Crime TV Shows, Docuseries

                                            description
6066  Set during the Russian Revolution, this comic ...
6079  Led by a trio of Korean celebs, a multinationa...
6174  This CNN original series has chef Anthony Bour...
6177  Hailing from the mountains of Iga, Kanzo Hatto...
6213  A history teacher at the posh Abbey Grove, Alf...
...                                                 ...
8539  All the splendor and scandal of England's 16th...
8557  This powerful political epic chronicles the tr...
8684  For these half-car, half-animal friends, each ...
8712  From animal oddities and bizarre science to me...
8755  This reality series recounts true stories of w...

[98 rows x 12 columns]